{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<title>{% trans "Sign in with your OpenID" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<h1>{% trans "Sign in with your OpenID" %}</h1>

{% if user.is_authenticated %}
<p>Welcome {{ user.username }} &raquo; <a href="/accounts/logout?next=/">logout</a></p>
{% else %}
<p>Do i know you??
<form method="post" action="/openid/">
    {% if openid_url %}
    <input type="hidden" name="openid_url" value="{{ openid_url }}"/>
    {% else %}
    <input type="text" name="openid_url" value=""/>
    {% endif %}
    <input type="submit" name="signin" value="signin"/>
</form>
{% endif %}

</body>
</html>
